@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
	transition: transform 0.3s ease-in-out;
}

.left-slide {
	transform: translateX(-100%);
}

.right-slide {
	transform: translateX(100%);
}

.center {
	transform: translateX(0%);
}
